html, body {
  margin: 0 8px;
  background-image: url(bakground_board.jpg);

}

a {
  text-decoration: none;
  color: #a0a0a0;
}

.page .MuiGrid-spacing-xs-3 {
  width: calc(100% - 16px);
  margin: 0px 8px;
}